<footer class="border-t border-gray-200 dark:border-gray-800 mt-12">
    <div class="container mt-4">
        <p class="text-sm text-center text-gray-500 dark:text-gray-400">
          © <%= new Date().getFullYear() %> MusicOne Inc. All rights reserved.
        </p>
    </div>
  </footer>
  