<% if (locals.topSongs) { %>
    <h2 class="font-instrument text-lg lg:mt-4 dark:text-white font-bold mb-4 pb-2 border-b border-gray-200 dark:border-gray-700 flex items-center">
      <span class="text-sky-500 mr-2">&bullet;</span> Top Plays
    </h2>

    <!-- Trending List -->
    <div class="space-y-0">
      <% if (locals.topSongs.length) { %> 
        <% locals.topSongs.forEach(song => { %>
            <%- include('./playitem', {song:song}) %>
      <% }) %> 
    <% } %>
    </div>
    <% } %>
    