
    <!-- Latest Releases Section -->
    <section class="mb-8">
        <h2
            class="font-instrument mt-4 text-lg font-bold dark:text-white flex-1 mb-4 pb-2 border-b border-gray-200 dark:border-gray-700"
        >
            Latest Releases
        </h2>

        <div class="flex flex-col gap-0">
            <%-  include('../widgets/latest') %>
        </div>
    </section>

    <!-- Region Sections -->
    <%- include('../widgets/region') %>

    <!-- Top Genre Sections -->
    <%-  include('../widgets/genre') %>

