
<section class="mb-8 lg:pr-4">
  <h1 class="font-instrument text-2xl bg-white dark:bg-black py-5 font-bold dark:text-white flex-1 mb-4 pb-2 border-b border-gray-200 dark:border-gray-700 sticky top-0 lg:top-0"><%= locals.title %></h1>

    <%- include('../widgets/latest') %>

</section>

