<!DOCTYPE html>
<html class="dark:bg-gray-900 font-['Instrument Sans']" lang="en">
<head>
    <%- include('../layouts/head', {title : 'Register'}) %>
    <script type="module" src="/js/register.js"></script>
</head>
<body class="w-full h-screen">

    <div id="snackbarWrapper" class="relative">
        <!-- Snackbar will be appended here -->
      </div>
  
    <div class="w-full h-screen flex items-center justify-center px-10">
        <form action="" data-register-form class="max-w-sm flex flex-col lg:w-[20%] w-full">
            <div class="flex flex-col gap-3 mb-5 items-center">
                 <!-- Logo -->
                 <a href="/">
                    <img src="/images/light.svg" class="h-8 hidden dark:inline" alt="musicnow logo">
                    <img src="/images/dark.svg" class="h-8 inline dark:hidden" alt="musicnow logo">
                    </a>
                <div class="text-gray-500 text-xs text-center flex flex-col gap-1">
                    <p>Access to your favourite song on all streaming platform from one convenient place</p>
                </div>
            </div>

            <div class="mb-4">
                <input autocomplete="name" data-name name="name" id="name" class="bg-gray-50 border border-gray-300 text-gray-800 text-sm rounded-lg block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white" placeholder="Full Name" required />
            </div>
            <div class="mb-4">
                <input autocomplete="email" type="email" name="email" data-email id="email" class="bg-gray-50 border border-gray-300 text-gray-800 text-sm rounded-lg block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white" placeholder="Email" required />
            </div>
            <div class="mb-4">
                <input data-password name="password" type="password" id="password" class="bg-gray-50 border border-gray-300 text-gray-800 text-sm rounded-lg block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white" placeholder="Password" required />
            </div>
            <div class="mb-4">
                <input name="confirm_password" data-confirm-password type="password" id="confirm-password" class="bg-gray-50 border border-gray-300 text-gray-800 text-sm rounded-lg block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white" placeholder="Confirm Password" required />
            </div>

            <button type="submit" data-submit-btn class="cursor-pointer text-white bg-red-600 hover:bg-red-600 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-red-600 dark:hover:bg-red-600 mb-5 flex items-center justify-center disabled:bg-gray-500 disabled:text-gray-300">Get Started</button>

            <div class="text-xs">
                <p class="dark:text-gray-500 text-gray-600 text-center">Already have an account? <a class="text-red-600" href="/login">Sign in</a></p>
            </div>
        </form>

    </div>

</body>
</html>

